<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Login Page</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <script type=”text/javascript” src=”bootstrap/js/bootstrap.min.js”></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <style>
		body {
	  		padding-top: 150px;
            background-color: aliceblue;
	  	}
        #title {
            font-size: 30px;
        }
        #content {
            margin-top: 50px
        }
	</style>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script type="text/javascript"
            src="https://cdn.jsdelivr.net/npm/jquery-validation@1.19.0/dist/jquery.validate.min.js"></script>

</head>
<body>
<!-- Navigation Bar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/home">Theatre Name</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="movielisting.html">Movie Listing</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="checkout.html"><span class="glyphicon glyphicon-check"></span>Checkout</a></li>
        </ul>
        <ul class="nav navbar-nav">
            <li><a href="/add"><span class="glyphicon glyphicon-user"></span> Sign Up </a></li>
            <li class="active"><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login </a></li>
        </ul>
    </div>
</nav>
<!--  /Navigation Bar -->


<!-- Container -->
<div class="container">
    <p id="title">Login</p>
    <form action="/home" class="was-validated" th:action="@{/login}" method="post">
        <div class="form-group">
            <input name="lg_username" type="text" class="form-control"  placeholder="username" required>
        </div>
        <div class="form-group">
            <input name="lg_password" type="text" class="form-control" placeholder="password" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" href="/indexLogin">User Login</button>
            <a class="btn btn-primary" href="adminIndex.html">Admin Login</a>
            <a href="/home">Cancel</a>
        </div>
        <div class="form-group">
            <p>Forgot your password? <a href="/fpass">click here</a></p>
            <p>New user? <a href="/add">create new account</a></p>
        </div>
    </form>
</div>

<script type="text/javascript">

    $(document).ready(function() {
        $("#loginForm").validate({
            rules: {
                lg_username: {
                    required: true,
                    lg_username: true
                },

                password: "required",
            },

            messages: {
                lg_username: {
                    required: "Please enter username",
                },

                password: "Please enter password"
            }
        });

    });
</script>
<!-- /Container -->
</body>
</html>